<html>
<head>
<script src="assets/js/dygraph-combined-dev.js"></script>
</head>
<body>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "<%=dataTemp%>"
  );
</script>
</body>
</html>