html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Sistema de Deteccion de Incendios

        if user
          p Bienvenido, #{user.fullName}
          p
          .btn.btn-primary(href="/mapa") Ver Mapa
          p
          form(action='/logout', method='POST')
            button.btn.btn-default(type="submit") Salir
        else
          p Bienvenido
          p
            a.btn.btn-primary(href="/login") Ingresar
          p
            span.small Deseas conocer más
            span &nbsp;
            a.small(href="info@gualeo.com") Contactanos